/* ESTILO GERAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #000;
    height: 100vh;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.btn-contato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #00FF08;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

h2.titulo {
    color: #fff;
    font-size: 38px;
    text-align: center;
}

h2.titulo span {
    color: #00FF08;
}

button:hover,
form .btn-enviar input:hover {
    box-shadow: 0px 0px 8px #00ff08;
    transform: scale(1.05);
}

/* ESTILO DO DESENVOLVEDOR FULL-STACK  */

.cursor {
    display: inline-block;
    background-color: transparent;
    margin-left: 2px;
    animation: blink 0.7s step-end infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

/* ******* ESTILO LEONARDO CASIANO *********/

.cursor {
    display: inline-block;
    background-color: transparent;
    margin-left:2px;
    animation: blink 0.7s step-end infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

/* ESTILO DO CABEÇALHO */

header {
    padding: 40px 4%;
}

header>.interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: #5c5c5c;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header nav.menu-desktop a:hover {
    color: #fff;
    transform: scale(1.05);
}

header nav ul {
    list-style-type: none;
}

header nav.menu-desktop ul li {
    display: inline-block;
    padding: 0 40px;
}

/* ESTILO DO MENU MOBILE */

.btn-abrir-menu {
    display: none;
}

.btn-abrir-menu i {
    color: #00FF08;
    font-size: 40px;
}

.menu-mobile {
    background-color: #000;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    width: 0%;
    overflow: hidden;
    transition: .5s;
}

.menu-mobile.abrir-menu {
    width: 70%;
}

.menu-mobile.abrir-menu~.overlay-menu {
    display: block;
}


.menu-mobile .btn-fechar {
    padding: 20px 5%;
}

.menu-mobile .btn-fechar i {
    color: #00FF08;
    font-size: 30px;
}

.menu-mobile nav ul {
    text-align: right;
}

.menu-mobile nav ul li a {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    padding: 20px 8%;
    display: block;
}

.menu-mobile nav ul li a:hover {
    background-color: #00FF08;
    color: #000;
}

.overlay-menu {
    background-color: #000000df;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 88888;
    display: none;
}

/* ESTILO DO TOPO DO SITE */

section.topo-do-site {
    padding: 40px 4%;
}

section.topo-do-site .flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1 {
    color: #fff;
    font-size: 42px;
    line-height: 40px;
}

.topo-do-site .txt-topo-site h1 span {
    color: #00FF08;
}

.topo-do-site .txt-topo-site p {
    color: #fff;
    margin: 40px 0;
}

.topo-do-site .img-topo-site img {
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}


@keyframes flutuar {
    0% {
        top: 0;
    }

    100% {
        top: 30px;
    }
}

/* ESTILO DAS ESPECIALIDADES */

section.especialidades {
    padding: 40px 4%;
}

section.especialidades .flex {
    gap: 60px;
}

.especialidades .especialidades-box {
    color: #fff;
    padding: 40px;
    border-radius: 20px;
    margin-top: 45px;
    transition: transform .2s;
    position: relative;
    overflow: hidden;
    border: 5px solid transparent;
    background: transparent;
}

/* Animação da borda */
@keyframes borderAnimation {
    0% {
        border-color: #00FF08;
    }

    25% {
        border-color: #02b6ad;
    }

    50% {
        border-color: #FF00FF;
    }

    75% {
        border-color: #FF8C00;
    }

    100% {
        border-color: #00FF08;
    }
}

/* Aplica a animação constantemente */

.especialidades .especialidades-box {
    animation: borderAnimation 5s linear infinite;
    /* Aplica a animação de forma contínua */
}

.especialidades .especialidades-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px #02b6ad;
}

.especialidades .especialidades-box i {
    font-size: 70px;
    color: #00FF08;
}

.especialidades .especialidades-box h3 {
    font-size: 28px;
    margin: 15px 0;
}

/* ESTILO DO SOBRE */

section.sobre {
    padding: 80px 4%;
}

section.sobre .flex {
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre {
    color: #fff;
}

.sobre .txt-sobre h2 {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span {
    color: #00FF08;
    display: block;
}

.sobre .txt-sobre p {
    margin: 20px 0;
    text-align: justify;
}

.btn-social button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #00FF08;
    font-size: 22px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
}

/*  =============================================== ESTILO DO PORTFÓLIO  ====================================================*/

/* Estilo  com  Rolagem (Quando aproximar do card tem efeito de rolagem da imagem */

/* section.portfolio {
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px #262727;
}

section.portfolio .flex {
    justify-content: space-around;
    margin-top: 60px;
}

.img-port {
    width: 360px;
    height: 460px;
    background-size: cover;
    background-position: 100% 0%;
    transition: 8s;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
}

.img-port:hover {
    background-position: 100% 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000b8;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    opacity: 0;
    transition: .5s;
}

.overlay:hover {
    opacity: 1;
} */

/* Estilo sem Rolagem  */

section.portfolio {
    padding: 80px 4%;
    background-color: #000; 
    box-shadow: 0 0 40px 10px rgba(38, 39, 39, 0.8); 
}

section.portfolio .interface {
    max-width: 1200px; 
    margin: 0 auto; /
}

section.portfolio .flex {
    display: flex; 
    justify-content: space-between; 
    flex-wrap: wrap; 
    margin-top: 60px;
    gap: 20px;
}

.img-port {
    flex: 1 1 200px; 
    height: 300px; 
    background-size: cover; 
    background-position: center; 
    border-radius: 20px; 
    position: relative;
    overflow: hidden; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3); 
    transition: transform 0.3s ease; 
}

.img-port:hover {
    transform: scale(1.05); 
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75); 
    border-radius: 20px; 
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    font-size: 18px; 
    font-weight: 600;
    color: #fff;
    opacity: 0; 
    transition: opacity 0.5s ease; 
    padding: 20px; 
}

.img-port:hover .overlay {
    opacity: 1;
}

.overlay h3 {
    margin: 0; 
}

.overlay p {
    margin: 5px 0 10px; 
    text-align: center; 
}

.icon-github {
    font-size: 24px;
    color: #fff; 
    text-decoration: none; 
    transition: color 0.3s; 
}

.icon-github:hover {
    color: #f0db4f; 
}



/* =============================================== Estilo do formulário contato ==========================================================*/


section.formulario {
    padding: 80px 4%;
}

form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}

form input,
form textarea {
    width: 100%;
    background-color: #242424;
    border: 5px solid transparent; 
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: #fff;
    font-size: 18px;
    position: relative; 
    animation: borderAnimation 5s linear infinite; 
}

/* Animação da borda do formulário */

@keyframes borderAnimation {
    0% { border-color: #00FF08; }
    25% { border-color: #02b6ad; }
    50% { border-color: #FF00FF; }
    75% { border-color: #FF8C00; }
    100% { border-color: #00FF08; }
}

.formulario {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 5px solid transparent; 
    border-radius: 8px;
    background-color: #000000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    animation: borderAnimation 5s linear infinite; 
}

.titulo {
    text-align: center;
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 2px solid #303030; 
    border-radius: 4px;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    border-color: transparent; 
    outline: none;
}

input[type="text"],
input[type="email"],
textarea {
    animation: borderAnimation 5s linear infinite; 
}

textarea {
    height: 100px;
    resize: vertical;
}

.btn-enviar {
    text-align: center;
    margin-top: 20px;
}

.button {
    width: 100%; 
    height: 40px; 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0px 15px;
    background-color: #241f1f; 
    border-radius: 10px;
    border: 2px solid transparent; 
    color: rgb(255, 253, 253);
    position: relative;
    cursor: pointer;
    font-weight: 900;
    overflow: hidden; 
    transition: background-color 0.3s, color 0.3s; 
}

/* Efeito de contorno para o botão */

.button:before {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    border-radius: 10px;
    background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000);
    background-size: 400%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    animation: steam 20s linear infinite; 
}

.button {
    border: 5px solid transparent; 
    animation: borderAnimation 5s linear infinite; 
}

@keyframes steam {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.button:hover {
    background-color: white; 
    color: black; 
    border-color: transparent; 
}

.button:hover:before {
    background: transparent; 
}


/* =================================================== ESTILO DO RODAPÉ =====================================================================*/

footer {
    background-color: #17052c; 
    color: white; 
    padding: 20px; 
}

.flex {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

.line-footer {
    flex-grow: 1; 
    text-align: center;
    padding-left: 22%; /*Texto "Todos os direitos reservados"*/
}


.social-container {
    display: flex;
    gap: 15px; 
    margin-right: 10%; 
}

.dancing-script-ls {
    font-family: "Dancing Script", serif;
    font-weight: 700;
    font-size: 35px;
    color: #ffffff; 
    margin: 0; 
}

.footer-text {
    font-size: 14px; 
    margin-top: 5px; 
}


/* SOBRE MIM (Redes social) */

.card {
    width: fit-content;
    height: fit-content;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 25px;
    gap: 20px;
}

/* Estilos gerais para todos os ícones */

.socialContainer {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background-color: rgb(44, 44, 44);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: background-color 0.3s, transform 0.3s;
}

.socialContainer:active {
    transform: scale(0.9);
}

.socialSvg {
    width: 17px;
    transition: transform 0.3s, opacity 0.3s;
}

.socialSvg path {
    fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
    animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Cores para cada ícone no hover */

.containerOne:hover {
    background-color: #d62976;
    /* Instagram */
}

.containerGitHub:hover {
    background-color: #A020F0;
    /* GitHub */
}

.containerThree:hover {
    background-color: #0072b1;
    /* LinkedIn */
}

.containerFour:hover {
    background-color: #128c7e;
    /* lINK Externo */
}


/* lOGO  Superior / Inferior */

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #000000;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(24, 165, 121, 0.1);
}

.logo-text {
    font-family: 'Dancing Script', cursive;
    font-size: 36px;
    color: #fff9f9;
    text-decoration: none;
    transition: color 0.3s ease;
}

.logo-text:hover {
    color: #ebc830;
}

/* SETA PARA TOPO DA PÁGINA */

.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 40px;
    color: #ffecec;
    display: none;
    z-index: 100;
    cursor: pointer;
}

.scroll-to-top:hover {
    color: #05717b;
    /* Cor ao passar o mouse */
}


/*  -------- IMAGENS DO NOTEBOOK E LINGUAGEM ----------*/

.img-topo-site {
    position: relative;
    width: auto;
}

.notebook-img {
    width: 100%;
    position: relative;
    z-index: 1;
}

.img-topo-site {
    position: relative;
    width: auto;/
}

.notebook-img {
    width: 100%;
    position: relative;
    z-index: 1;
}

.vidro-img {
    position: absolute;
    top: -60px;
    left: 0;
    width: 100%;
    z-index: 0;
    pointer-events: none;
}

/* ICONE DO DESENVOLVIMENTO FULL - STACK */

p {
    line-height: 1.6;
}

strong {
    color: #ebe72a;
}

span {
    display: inline-block;
    margin-left: 8px;
}

p i {
    color: #09ccfd;
    /* Cor dos ícones */
    margin-right: 5px;
}


.menu-desktop {
    display: block;
}

.menu-desktop ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.menu-desktop li {
    position: relative;
    margin: 0 15px;
}

.menu-desktop a {
    text-decoration: none;
    color: #ffffff;
    padding: 10px 0;
}

.menu-desktop a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background-color: #ffec82fb;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.menu-desktop a:hover::after {
    transform: scaleX(1);
}

/* SOBRE - MEU CARD- FLUTUANTE */

.img-sobre {
    display: inline-block;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(144, 238, 144, 0.6);
    animation: float 3s ease-in-out infinite;
}

/* Efeito flutuante */

@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

.img-sobre img {
    display: block;
    width: 395px;
    height: 481px;
    object-fit: contain;
    border-radius: 10px;
}

/* ==================================== RESPONSIVO - MOBILE ==================================================================================== */
/* ======================================= MENU - HAMBURGUER ================================================================================== */

/* Estilos gerais para dispositivos móveis (até 768px) */

@media (max-width: 768px) {
    .menu-desktop {
        display: none;
    }

    .btn-contato {
        display: none;
    }

    .btn-abrir-menu {
        display: block;
        font-size: 40px;
        color: #fff;
        cursor: pointer;
        z-index: 1001;
    }

    .menu-mobile {
        width: 70%;
    }
}

/* Estilos específicos para tablets (768px a 1024px) */

@media (min-width: 768px) and (max-width: 1024px) {
    .btn-abrir-menu {
        font-size: 35px;
    }

    .menu-mobile nav ul li a {
        font-size: 20px;
    }
}

/* Estilos específicos para smartphones pequenos (iPhone 5/SE) */

@media (max-width: 320px) {
    .btn-abrir-menu {
        font-size: 30px;
    }

    .menu-mobile nav ul li a {
        font-size: 16px;
    }
}

/* Estilos específicos para smartphones grandes (ex: Galaxy S10, iPhone 11) */

@media (min-width: 321px) and (max-width: 480px) {
    .btn-abrir-menu {
        font-size: 35px;
    }

    .menu-mobile nav ul li a {
        font-size: 18px;
    }
}

/* Menu mobile */

.menu-mobile {
    background-color: #000;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    width: 0;
    overflow: hidden;
    transition: width 0.5s ease;
}

/* Estilização da lista de navegação */

.menu-mobile nav ul {
    padding: 60px 20px;
    list-style: none;
    text-align: center;
}

.menu-mobile nav ul li {
    margin: 20px 0;
}

.menu-mobile nav ul li a {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    display: block;
}

/* Botão para fechar o menu */

.btn-fechar {
    position: absolute;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
}

.btn-fechar i {
    color: #00FF08;
    font-size: 30px;
}

/* Overlay para escurecer o fundo */

.overlay-menu {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 999;
}

/* Exibe a sobreposição quando o menu está aberto */

.menu-mobile.abrir-menu~.overlay-menu {
    display: block;/
}

@media screen and (max-width: 1020px) {

    /* CLASSES GERAIS */
    .flex {
        flex-direction: column;
    }

    .topo-do-site .flex {
        flex-direction: column-reverse;
    }

    h2.titulo {
        font-size: 34px;
        line-height: 30px;
    }

    /* CABEÇALHO */
    .menu-desktop,
    .btn-contato {
        display: none;
    }

    /* TOPO DO SITE */

    section.topo-do-site .flex {
        gap: 40px;
    }

    section.topo-do-site {
        padding: 20px 8%;
    }

    .topo-do-site h1 {
        font-size: 30px;
    }

    .topo-do-site .img-topo-site img {
        width: 100%;
    }

    /* ESPECIALIDADES */
    section.especiliadades {
        padding: 40px 8%;
    }

    /* SOBRE */
    section.sobre {
        padding: 80px 8%;
    }

    .sobre .txt-sobre h2 {
        font-size: 34px;
        line-height: 35px;
        text-align: center;
    }

    .btn-social {
        text-align: center;
    }

    .img-sobre img {
        width: 100%;
    }

    /* PORTFÓLIO */

    section.portfolio {
        padding: 80px 8%;
    }

    .img-port {
        width: 100%;
        max-width: 360px;
        margin: 0 auto;
    }

    section.portfolio .flex {
        gap: 60px;
    }

    /* RODAPÉ */

    footer .flex {
        flex-direction: column;
        gap: 30px;
    }

    footer .line-footer {
        text-align: center;
    }
}
